<div class="container">
  <h2 [ngStyle]="{ fontSize: '4em', marginBottom: '20px' }">Todos</h2>
  <div class="content">
    <div class="header">
      <input
        type="text"
        placeholder="What needs to be done?"
        [(ngModel)]="valueString"
        (keyup.enter)="AddTodo()"
      />
    </div>
    <ul [ngStyle]="{ listStyle: 'none' }">
      <ng-container *ngFor="let val of arr">
        <ng-container *ngIf="val ? true : false">
          <app-todo [name]="val" (delete)="deleteData($event)" (done)="editState($event)" ></app-todo>
        </ng-container>
      </ng-container>
    </ul>
    <app-footer *ngIf="arr.length > 0 ? true : false" [count]="count"></app-footer>
  </div>
</div>
